.vtool_bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(45, 52, 59);
  width: 110px;
  height: 605px;
  left: 0px;
  top: 62px;
  border-radius: 10px;
  border-color: rgb(246, 129, 60);
  border-style:groove
}
button{
  width: 76px;
  height: 47px;
  border-radius: 10px;
  background-color: rgb(246, 129, 60);
  border-color: rgb(238, 234, 232);
  transition-duration: 0.3s;
  color: rgb(227, 231, 224);
  font-size: 18px;

}


button:active{
  background-color: rgba(47, 24, 10, 0.856);
  box-shadow: 0 3px #666;

  transform: translateY(4px);


}
.htool_bar{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(45, 52, 59);
  width: 1480px;
  height: 55px;
  left: 0;
  top: 0;
  border-radius: 10px;
  border-color: rgb(246, 129, 60);
  border-style:groove
}


.htool_bar input[type = "color"] {
  width: 30px;
}

.htool_bar input [type = "number"] {
  width: 35px;
}
.htool_bar button{
  width: 60px;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(246, 129, 60);
  border-color: rgb(238, 234, 232);

  transition-duration: 0.3s;
  color: rgb(227, 231, 224);
  font-size: 14px;
  text-align:center;

}

.htool_bar input[type = "text"]{
  width: 160px;
  height: 30px;
  border-radius: 4px;
  color: rgb(5, 7, 4);
  font-size: 14px;

}
.htool_bar label{
  font-size: 13px;
  color:azure;
}







canvas{
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 65px;
  left: 120px;
}

.htool_bar button:hover {
  background-color: #636770;
}
.vtool_bar button:hover {
  background-color: #636770;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
}

  /* The popup form - hidden by default */
  .form-popup {
    bottom: 150px;
    right: 600px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 350px;
  }


  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #ec710d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }


  /* Add some hover effects to buttons */
  .form-container .btn:hover{
    opacity: 1;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #36383d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


/* Add some hover effects to buttons */
.form-container .btn:hover {
  opacity: 1;
}