.vtool_bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(45, 52, 59);
  width: 110px;
  height: 605px;
  left: 0px;
  top: 62px;
  border-radius: 10px;
  border-color: rgb(246, 129, 60);
  border-style:groove
}
.vtool_bar button{
  width: 76px;
  height: 47px;
  border-radius: 10px;
  background-color: rgb(246, 129, 60);
  border-color: rgb(238, 234, 232);
  transition-duration: 0.3s;
  color: rgb(227, 231, 224);
  font-size: 18px;

}


.vtool_bar button:active{
  background-color: rgba(47, 24, 10, 0.856);
  box-shadow: 0 3px #666;

  transform: translateY(4px);


}
.htool_bar{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(45, 52, 59);
  width: 1480px;
  height: 55px;
  left: 0;
  top: 0;
  border-radius: 10px;
  border-color: rgb(246, 129, 60);
  border-style:groove
}


.htool_bar input[type = "color"] {
  width: 30px;
}

.htool_bar input [type = "number"] {
  width: 35px;
}
.htool_bar input[type = "button"]{
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(246, 129, 60);
  border-color: rgb(238, 234, 232);

  transition-duration: 0.3s;
  color: rgb(227, 231, 224);
  font-size: 14px;
  text-align:center;

}
.htool_bar label{
  font-size: 13px;
  color:azure;
}



canvas{
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 65px;
  left: 120px;
}